body {
    font-family: "Be Vietnam Pro", sans-serif;
}

/* Mobile Menu Handler */

#mobile-menu-toggle:checked ~ .header .mobile-menu {
    right: 0;
}

#mobile-menu-toggle:checked ~ .header .overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

/* Pricing Handler */

/* Toggle active button */
#pricing-monthly:checked ~ .pricing__header .pricing__toggle-btn--monthly,
#pricing-yearly:checked ~ .pricing__header .pricing__toggle-btn--yearly {
    background-color: #ff9500;
    color: #ffffff;
}

/* Hide monthly */
#pricing-yearly:checked ~ .pricing__wrapper .pricing-card__amount--monthly,
#pricing-yearly:checked ~ .pricing__wrapper .pricing-card__duration--monthly {
    display: none;
}

/* Show yearly */
#pricing-yearly:checked ~ .pricing__wrapper .pricing-card__amount--yearly,
#pricing-yearly:checked ~ .pricing__wrapper .pricing-card__duration--yearly {
    display: block;
}

/* FAQ Handler */

/* Open answer */
.faq-item__checkbox:checked ~ .faq-item__answer-wrapper {
    max-height: 300px;
}

/* Rotate + */
.faq-item__checkbox:checked ~ .faq-item__question .faq-item__icon {
    transform: rotate(45deg);
}
